{% extends "HR(admin)/base.html" %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static "/css/hr(admin)-css/home.css" %}">
    <script src="{% static "/js/hr(admin)/index.js" %}" defer></script>
{% endblock custom_css%}
{% block content %}
    <!-- end of base html -->
    <div class="middle">
        <div class="department-boxes"></div>

        <!-- end of dep boxes -->
        
        <div class="employee-table">
            <div class="box-title1">
                <h1>Employees currently on leave</h1>
            </div>
            <table>
                <tr>
                    <th class="header-info">Basic Info</th>
                    <th class="header-type">Leave type</th>
                    <th class="header-from">Leave from</th>
                    <th class="header-to">Leave to</th>
                    <th class="header-days">Total days of leave</th>
                </tr>
                <tr>
                    <td><a href="/front-end/employee-html/profile.html">Anto Manolov, tonko@gmail.com, IT</a></td>
                    <td>Vacation</td>
                    <td>10.12.2023</td>
                    <td>23.12.2023</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td><a href="/front-end/employee-html/profile.html">Anto Manolov, tonko@gmail.com, IT</a></td>
                    <td>Vacation</td>
                    <td>10.12.2023</td>
                    <td>23.12.2023</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td><a href="/front-end/employee-html/profile.html">Anto Manolov, tonko@gmail.com, IT</a></td>
                    <td>Vacation</td>
                    <td>10.12.2023</td>
                    <td>23.12.2023</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td><a href="/front-end/employee-html/profile.html">Anto Manolov, tonko@gmail.com, IT</a></td>
                    <td>Vacation</td>
                    <td>10.12.2023</td>
                    <td>23.12.2023</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td><a href="/front-end/employee-html/profile.html">Anto Manolov, tonko@gmail.com, IT</a></td>
                    <td>Vacation</td>
                    <td>10.12.2023</td>
                    <td>23.12.2023</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td><a href="/front-end/employee-html/profile.html">Anto Manolov, tonko@gmail.com, IT</a></td>
                    <td>Vacation</td>
                    <td>10.12.2023</td>
                    <td>23.12.2023</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td><a href="/front-end/employee-html/profile.html">Anto Manolov, tonko@gmail.com, IT</a></td>
                    <td>Vacation</td>
                    <td>10.12.2023</td>
                    <td>23.12.2023</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td><a href="/front-end/employee-html/profile.html">Anto Manolov, tonko@gmail.com, IT</a></td>
                    <td>Vacation</td>
                    <td>10.12.2023</td>
                    <td>23.12.2023</td>
                    <td>13</td>
                </tr>
                
                <!-- Add more rows as needed -->
            </table>
        </div>
        <div class="employee-table">
            <div class="box-title1">
                <h1>Employee Requests</h1>
            </div>
            <table>
                <tr>
                    <th class="header-info">Basic Info</th>
                    <th class="header-type">Request type</th>
                    <th class="header-from">Date submited</th>
                    <th class="header-to">Date processed</th>
                    <th class="header-days">Status</th>
                </tr>
                <tr>
                    <td><a href="/front-end/employee-html/profile.html">Anto Manolov, tonko@gmail.com, IT</a></td>
                    <td>Leave</td>
                    <td>10.12.2023</td>
                    <td></td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td><a href="/front-end/employee-html/profile.html">Anto Manolov, tonko@gmail.com, IT</a></td>
                    <td>Leave</td>
                    <td>10.12.2023</td>
                    <td></td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td><a href="/front-end/employee-html/profile.html">Anto Manolov, tonko@gmail.com, IT</a></td>
                    <td>Leave</td>
                    <td>10.12.2023</td>
                    <td></td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td><a href="/front-end/employee-html/profile.html">Anto Manolov, tonko@gmail.com, IT</a></td>
                    <td>Leave</td>
                    <td>10.12.2023</td>
                    <td></td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td><a href="/front-end/employee-html/profile.html">Anto Manolov, tonko@gmail.com, IT</a></td>
                    <td>Leave</td>
                    <td>10.12.2023</td>
                    <td></td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td><a href="/front-end/employee-html/profile.html">Anto Manolov, tonko@gmail.com, IT</a></td>
                    <td>Leave</td>
                    <td>10.12.2023</td>
                    <td></td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td><a href="/front-end/employee-html/profile.html">Anto Manolov, tonko@gmail.com, IT</a></td>
                    <td>Leave</td>
                    <td>10.12.2023</td>
                    <td></td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <td><a href="/front-end/employee-html/profile.html">Anto Manolov, tonko@gmail.com, IT</a></td>
                    <td>Leave</td>
                    <td>10.12.2023</td>
                    <td></td>
                    <td>Pending</td>
                </tr>
                
                
                <!-- Add more rows as needed -->
            </table>
        </div>
    </div>
{% endblock content %}