@import url(/front-end/css/base.css);

.middle {
    display: flex;
    flex-direction: column;
    margin-left: 14rem;
    margin-right: 2rem;
    margin-top: 2rem;
}


.performance-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.yearly,
.monthly,
.awards,
.improvements-list {
    height: 200px;
    border-radius: 10px;
    background-color: var(--button);
    box-shadow: -0.1rem 0.01rem 0.6rem 0.01rem var(--background);
}

.section-label {
    font-size: 1.7rem;
    margin-top: 0.5rem;
    text-align: center;
    color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border-bottom: 2px dotted var(--background);
}

.performance-grid > div > h2 {
    text-align: right;
    margin-right: 1rem;
}

.perf-rows {
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    font-size: 1.1rem;
}

/* .yearly {

}

.monthly {
   
}

.awards {
   
}

.improvements-list {
   
} */

.bonus-grid {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.bonus {
    width: 60%;
    border-radius: 10px;
    background-color: var(--font-color);
    height: 200px;
    align-self: center;
    margin-bottom: 1rem;
    box-shadow: -0.1rem 0.01rem 0.6rem 0.01rem var(--background);
}