{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block custom_css %}{% endblock %}
    <script src="https://kit.fontawesome.com/c88f4e308d.js" crossorigin="anonymous"></script>
    <script src="{% static "js/hr(admin)/logout.js" %}" defer></script>

    <title>HCM</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <h4 class='wellcome'></h4>
            <img src="" alt="">
        </div>
       
        <div class="menu">
            <a href="#" class="btn add-employee">+Add Employee</a>
            <a href="#" class="btn add-review">+Add Review</a>
            <a href="#" class="btn add-task">+Add Task</a>
            <a href="#" class="btn add-paycheck">+Submit Paycheck</a>
            <a href="#" class="btn logout-btn">Sign Out</a>
        </div>
    </div>

    <div class="sidebar">
        <div class="content">
            <ul>
                <li>
                    <div class="sidebar-item">
                        <i class="fa-solid fa-house"></i>
                        <a href="#" class='home-btn'>Home</a>
                    </div>
                </li>
               
                <li>
                    <div class="sidebar-item">
                        <i class="fa-solid fa-medal"></i>
                        <a href="/front-end/hr(admin)-html/performance.html"></i>Performance</a>
                    </div>
                </li>
             
                
                <li>
                    <div class="sidebar-item">
                        <i class="fa-solid fa-list"></i>
                        <a href="/front-end/hr(admin)-html/reviews.html"></i>Reviews</a>
                    </div>
                    
                </li>
                <li>
                    <div class="sidebar-item">
                        <i class="fa-solid fa-users"></i>
                        <a href="../hr(admin)-html/profiles.html"></i>Profiles</a>
                    </div>
                    
                </li>
                
                <li>
                    <div class="sidebar-item exit">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <a href="#" class='logout-btn'></i>Sign out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {% csrf_token %}
    {% block content %}
    <div class="middle">
        
    </div>
    {% endblock content %}
</body>
</html>