{% extends "HR(admin)/base.html" %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static "css/hr(admin)-css/add-employee.css" %}">
    <script src="{% static "/js/hr(admin)/add-review.js" %}" defer></script>
{% endblock custom_css%}
{% block content %}

    <div class="middle">
        <form id='review-form'>
            <h1 class="title">Add Review</h1>
            <input type="number" id="number-input" name="review_points" placeholder="Points of 10">
            <textarea id="textarea-input" name="feedback" placeholder="Feedback"></textarea>
            <textarea id="textarea-input" name="goals_achieved" placeholder="Goals Achieved"></textarea>
            <textarea id="textarea-input" name="improvement_areas" placeholder="To Improve"></textarea>
            <div class="submit-button">
                <button type="submit">Submit Review</button>
            </div>
            {% csrf_token %}
        </form>
    </div>

{% endblock content %}