{% extends "HR(admin)/base.html" %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static "css/hr(admin)-css/add-employee.css" %}">
    <script src="{% static "/js/hr(admin)/add-task.js" %}" defer></script>
{% endblock custom_css%}
{% block content %}

    <div class="middle">
        <form id='task-form'>
            <h1 class="title">Add Task</h1>
            {% csrf_token %}
            <input type="text" name="name" id="" placeholder="Task name">
            <textarea id="textarea-input" name="description" placeholder="Description"></textarea>
            <label for="from-date">Deadline:</label>
            <input type="date" id="from-date" name="deadline">
            <div class="submit-button">
                <button type="submit">Submit Task</button>
            </div>
        </form>
    </div>

{% endblock content%}