{% extends "HR(admin)/base.html" %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static "/css/hr(admin)-css/profilee.css" %}">
    <script src="{% static "/js/hr(admin)/profile.js" %}" defer></script>
{% endblock custom_css%}
{% block content %}

    <div class="middle">
        <div class="header">
            <div class="img">
                <img src={% static "/img/avatar.png" %} alt="">
            </div>

            <div class="header-info">
                <div class="title">
                    <p class="title-seniority"></p>
                </div>
                <div class="location">
                    <p class="location-p"></p>
                </div>
                <div class="gmt">
                    <p>GMT+3(13:31)</p>
                </div>
            </div>
        </div>
        
        <div class="about-me">
            <h1 class="section-label">Basic Info</h1>
            <div class="about-me-container">
                <div class="about-me-couples">
                    <p class="ml first-name-p">First name: </p>
                    <p class="mr last-name-p">Last name: </p>
                </div>
                <div class="about-me-couples">
                    <p class="ml email-p">Email: </p>
                    <p class="mr telephone-p">Telephone: (+359)</p>
                </div>
                <div class="about-me-couples">
                    <p class="ml date-of-birth-p">Date of birth: </p>
                    <p class="mr gender-p">Gender: </p>
                </div>
            </div>
        </div>
        <div class="skills">
            <h1 class="section-label">Skills</h1>
            <div class="skill-box">
                
                <div class="skill">CSS</div>
                <div class="skill">Linux</div>
                <div class="skill">CSS</div>
                <div class="skill">Linux</div>
                <div class="skill">CSS</div>
                <div class="skill">Linux</div>
                <div class="skill">CSS</div>
                <div class="skill">Linux</div>
                <div class="skill">CSS</div>
                <div class="skill">Linux</div>
                <div class="skill">CSS</div>
                <div class="skill">Linux</div>
                <div class="skill">CSS</div>
                <div class="skill">Linux</div>
                <div class="skill">CSS</div>
                <div class="skill">Linux</div>
               
            </div>
        </div>
        <div class="work-info">
            <h1 class="section-label">Work Info</h1>
            <div class="about-me-container">
                <div class="about-me-couples">
                    <p class="ml dep-p">Department: </p>
                    <p class="mr job-title-p">Job Title: </p>
                </div>
                <div class="about-me-couples">
                    <p class="ml location-p2">Location: </p>
                    <p class="mr seniority-p2">Seniority: </p>
                </div>
                <div class="about-me-couples">
                    <p class="ml date-of-hire-p">Date of hire: </p>
                    <p class="mr telephone-p2">Telephone: (+359)</p>
                </div>
            </div>
        </div>
        <div class="other-info">
            <h1 class="section-label">Soft Skills</h1>
            <div class="skill-box">
                
                <div class="skill">CSS</div>
                <div class="skill">Linux</div>
                <div class="skill">CSS</div>
                <div class="skill">Linux</div>
                <div class="skill">CSS</div>
                <div class="skill">Linux</div>
                <div class="skill">CSS</div>
                <div class="skill">Linux</div>
                <div class="skill">CSS</div>
                <div class="skill">Linux</div>
                <div class="skill">CSS</div>
                <div class="skill">Linux</div>
                <div class="skill">CSS</div>
                <div class="skill">Linux</div>
                <div class="skill">CSS</div>
                
            </div>
        </div>
        <div class="completed-tasks">
            <h1 class="section-label">Completed Tasks</h1>
            <div class="tasks-grid">
                <div class="task">
                    <p><strong> Task name:</strong> <span class="grey-text">API backend</span></p>
                    <p><strong>Task Description:</strong> <span class="grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, porro.</span></p>
                    <p><strong>Given by:</strong> <span class="grey-text">Andrew McDermith</span></p>
                    <p><strong>Task complete on:</strong> <span class="grey-text">08.10.2023</span></p>
                </div>
                <div class="task">
                    <p><strong> Task name:</strong> <span class="grey-text">API backend</span></p>
                    <p><strong>Task Description:</strong> <span class="grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, porro.</span></p>
                    <p><strong>Given by:</strong> <span class="grey-text">Andrew McDermith</span></p>
                    <p><strong>Task complete on:</strong> <span class="grey-text">08.10.2023</span></p>
                </div>
                <div class="task">
                    <p><strong> Task name:</strong> <span class="grey-text">API backend</span></p>
                    <p><strong>Task Description:</strong> <span class="grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, porro.</span></p>
                    <p><strong>Given by:</strong> <span class="grey-text">Andrew McDermith</span></p>
                    <p><strong>Task complete on:</strong> <span class="grey-text">08.10.2023</span></p>
                </div>
                <div class="task">
                    <p><strong> Task name:</strong> <span class="grey-text">API backend</span></p>
                    <p><strong>Task Description:</strong> <span class="grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, porro.</span></p>
                    <p><strong>Given by:</strong> <span class="grey-text">Andrew McDermith</span></p>
                    <p><strong>Task complete on:</strong> <span class="grey-text">08.10.2023</span></p>
                </div>
                <div class="task">
                    <p><strong> Task name:</strong> <span class="grey-text">API backend</span></p>
                    <p><strong>Task Description:</strong> <span class="grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, porro.</span></p>
                    <p><strong>Given by:</strong> <span class="grey-text">Andrew McDermith</span></p>
                    <p><strong>Task complete on:</strong> <span class="grey-text">08.10.2023</span></p>
                </div>
            </div>
            <div class="edit-delete-btns">
                <div class="edit-btn">Edit</div>
                <div class="delete-btn">Delete</div>
            </div>
        </div>
    </div>
   
{% endblock content %}