{% extends "HR(admin)/base.html" %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static "/css/hr(admin)-css/profiles.css" %}">
    
{% endblock custom_css%}
{% block content %}

    <div class="middle">
        <div class="search-div">
            <input type="text" id="searchInput" placeholder="Search by info">
        </div>
        
        {% for dep in profile_data %}
        
        <h1 class="profile-dep">{{dep.name}}</h1>
        {% if dep.employees %}
        
        <div class="profile-flex">
            {% for emp in dep.employees  %}
            <div class="profile">
                <div class="name-img">
                    <div class="img">
                        <img src="{% static "/img/avatar.png" %}" alt="avatar png">
                    </div>
                    <!-- I solved the worker id problem by saving the id from the model and then loaded the javascript at the end of the code -->
                    <p><a href="" class="user-id" data-user-id="{{emp.id}}">{{emp.first_name}} {{emp.last_name}}</a></p>
                </div>
                
                <p>Seniority: {{emp.seniority}}</p>
                <p>Date hired: {{emp.date_of_hire}}</p>
                <p>Email: {{emp.email}}</p>
                <p>Telephone: {{emp.telephone_number}}</p>
                <p>Location: {{emp.location}}</p>
                <div class="edit-del-btns">
                    
                </div>
            </div>
             {% comment %} if I have time to implement next page or more pages! {% endcomment %}
            {% endfor %}
        </div>
        
        {% else %}
        <h1>No employees yet</h1>
        <!-- departments profiles 1 end -->
        
        {% endif %}
        {% endfor %}
    </div>

<script src="{% static "/js/hr(admin)/profiles.js" %}" defer></script>
{% endblock content%}