{% extends "HR(admin)/base.html" %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static "/css/hr(admin)-css/profiles.css" %}">
    <script src="{% static "/js/hr(admin)/index.js" %}" defer></script>
{% endblock custom_css%}
{% block content %}

    <div class="middle">
     {% for dep in profile_data %}
        
        <h1 class="profile-dep">{{dep.name}}</h1>
        {% if dep.employees %}
        
        <div class="profile-flex">
            {% for emp in dep.employees  %}
            <div class="profile">
                <div class="name-img">
                    <div class="img">
                        <img src="{% static "/img/avatar.png" %}" alt="avatar png">
                    </div>
                    <p>{{emp.first_name}} {{emp.last_name}}</p>
                </div>
                
                <p>Seniority: {{emp.seniority}}</p>
                <p>Date hired: {{emp.date_of_hire}}</p>
                <div class="edit-del-btns">
                    <a href="" class= "edit">Edit</a>
                    <a href="" class= "delete">Delete</a>
                    <a href="" class= "view">View</a>
                </div>
            </div>
             {% comment %} if I have time to implement next page or more pages! {% endcomment %}
            {% endfor %}
        </div>
        
        {% else %}
        <h1>No employees yet</h1>
        <!-- departments profiles 1 end -->
        
        {% endif %}
        {% endfor %}
    </div>

    
{% endblock content%}