{% extends "HR(admin)/base.html" %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static "/css/hr(admin)-css/reviews.css" %}">
    <script src="{% static "/js/hr(admin)/reviews.js" %}" defer></script>
{% endblock custom_css%}
{% block content %}
    <div class="middle">
        <h1 class="review-month">NOVEMBER</h1>
        <div class="department-boxes">
            
            <!-- end of box 1 -->
            

        
            <!-- end of box 1 -->
            
            <!--  end of box 5 -->
        </div>
    
    </div>
    <div id="confirmationModal" class="modal-m">
        <div class="modal-content">
            <p>Are you sure you want to delete this employee?</p>
        </div>
        <div class="modal-actions">
            <button id="cancelButton">Cancel</button>
            <button id="confirmButton">Confirm</button>
        </div>
        {% csrf_token %}
    </div> 
{% endblock content%}