{% extends "HR(admin)/base.html" %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static "css/hr(admin)-css/add-employee.css" %}">
    <script src="{% static "/js/hr(admin)/add-paycheck.js" %}" defer></script>
{% endblock custom_css%}
{% block content %}

    <div class="middle">
        <form id='paycheck-form'>
            <h1 class="title">Submit Paycheck</h1>
            
            <input type="number" id="number-input" name="gross_salary" placeholder="Gross salary">
            <input type="number" id="number-input" name="taxes" placeholder="Taxes">
            <input type="number" id="number-input" name="deductions" placeholder="Deductions">
            <input type="number" id="number-input" name="bonuses" placeholder="Bonuses">
            <input type="number" id="number-input" name="net_salary" placeholder="Net salary">
            
            {% csrf_token %}
            <div class="submit-button">
                <button type="submit">Submit Payroll</button>
            </div>
        </form>
    </div>

{% endblock content%}