@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
    --background: #333333;
    --background-secondary: #ece9ec ;
    --button: #B3E0FF;
    --button-secondary: #D8D8D8;
    --font-color: white;
    --secondary-color: #f8f5f5;
    --error: #FF6B6B;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background-secondary);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--background);
    border-bottom: 1px solid var(--background);
}

i {
    color: white;
}



.logo {
    display: inline-block;
   
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    display: none;
}

.searchbar input {
    padding: 10px;
    width: 40%;
}

.searchbar button {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.menu{
    display: flex;
    margin-right: 1rem;
}

.menu a {
    color: var(--font-color);
    font-size: 1.1rem;
    border: none;
    padding: 0.52rem 1rem;
    cursor: pointer;
}

.menu a:hover {
    color: var(--button);
}

.content {
    width: 12rem;
    position: fixed;
    top: 3.6rem;
    bottom: 0;
    background-color: var(--background);
    padding:0 10px;
}

.content li {
    margin: 2rem 0;
}

.content a {
    color: var(--font-color);
    margin-left: 2px;
}

.content a:hover {
    color: var(--button);
}

.content i {
    font-size: 0.85rem;
}

.sidebar-item {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.sidebar-item i {
    margin-right: 10px;
}

.exit {
    position: absolute;
    bottom: 1rem;
}


/* MIDDLE PART */
.middle {
   
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2.2rem;
    height: 100vh;
    margin-left: 20rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.box {
    background-color: var(--font-color);
    box-shadow: -0.1rem 0.01rem 0.6rem 0.01rem var(--background);
    border-radius: 1.3rem;
    height: 400px;
}



.box-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border-bottom: 2px dotted var(--background);
}

/* box 1 Attendance */
.checking {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    margin-top: 1rem;
}

.check-in {
    padding: 0.3rem 1.6rem;
    border-radius: 10px;
    background-color: var(--button);
}

.check-out {
    padding: 0.3rem 1.3rem;
    border-radius: 10px;
    background-color: var(--button-secondary);
}

.checking a,
.break-container a, div {
    font-size: 1.2rem;
    color: var(--background);
}

.clock {
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.2rem;
}

.break-container {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}

.break-cnt {
    padding: 0.3rem 1.9rem;
    border-radius: 10px;
    background-color: var(--error);
    display: flex;
    gap: 10px;
    margin-left: 2rem;
}

.break {
    margin-top: 1rem;
    padding: 0.3rem 2.3rem;
    border-radius: 10px;
    background-color: var(--button);
}

.end-break {
    margin-top: 1rem;
    padding: 0.3rem 1.5rem;
    border-radius: 10px;
    background-color: var(--button-secondary);
}

/* box 2 colleagues  */
.dep-col {
    
    margin-top: 1rem;
}

.dep-col > li{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-top: 5px;
    margin-left: 1rem;
}

.online-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.online {
    background-color: green;
}

.offline {
    background-color: var(--button-secondary);
}